body, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.wrapper {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.image {
    float: left;
    width: 190px;
    height: 190px;
    border-radius: 10px;
}
.image img {
    width: 190px;
}
.content {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}
.content a {
    position: absolute;
    height: 23px;
    width: 17px;
    border:1px solid #e5e5e5;
    line-height: 23px;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
    color: #444;
}
.content .text {
    position: absolute;
    width: 39px;
    height: 15px;
    padding: 4px 0;
    right: 27px;
    bottom: 10px;
    line-height: 15px;
    border:1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #343434;
    text-align: center;
    background-color: #fff;
}
.content .prev {
   right:68px;
   bottom: 10px;
}
.content .next {
    right: 8px;
    bottom: 10px;
}
.content .min {
    color: #e5e5e5;
}

